<% if  @current_user.orders.present?%>
  <h2>My Orders</h2>
  <% @orders.each do |order| %>
    <p><%= link_to 'Order No: ', order_path(order) %>
    </p>
    <p><%= link_to order.id, order_path(order) %></p>
    <p>Total Price:
    </p>
    <p><%= number_to_currency order.calculate_price %></p>
  <% end %>
<% else %>
  <h1 class="text-muted">No, you ain't got cash, but you got ME, baby!</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/31crA53Dgu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% end %>
