<% @category.items.each do |item| %>
  <h4><%= link_to item.name, item_path(item) %></h4>
  <% if item.image.present? %>
    <a href="<%= item_path(item) %>"><img src="<%= item.image %>"></a>
  <% end %>
<% end %>
